
#galeryText{
    border-bottom: 3px solid white;
    width: 100%;
}

.mid {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 5%;
}

.first {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 5%;
    border-bottom: 2px solid #f3f3f3;
}

#introduce {
    width: 50%;
    text-align: center;
    margin: 10px 0;
    display: flex;
    margin-right: 5%;
    margin-left: 5%;
    align-items: center;
    color: white;
}

#svg {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
}

.second {
    display: flex;
    font-size: 0;
    border: 2px solid white;
}
    
.single{
    border: 3px solid white;

}

.photo {
    transition: transform 0.2s ease-in-out;
    width: 100%;
    height: auto;
}

.photo:hover {
    transform: scale(1.2);
}

.photo:active{
    transform: scale(1.75);
}

@media (max-width: 1400px) {
    .second {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 800px) {
    .second {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .first{
        display: inline;
    }
    #introduce {
        width: 100%;
        margin: 10px 0;
        margin-right: 5%;
        margin-left: 5%;
    }
}
