body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: darkcyan;
}

.header{
    position: relative;
    width: 100%; 
    height: 650px;
    background-color: darkcyan;
}

#logo_Premier_League {
    position: absolute;
    top: 10%; 
    left: 38%;
    transform: translate(-50%, -50%); 
    max-width: 25%;
    animation-name: logo;
    animation-duration: 4s;
    animation-fill-mode: both;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header::after {
    content: '';
    display: block;
    height: 60px; 
    background-color: darkcyan;
}

.menu {
    display: flex;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 2%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: darkcyan;
    border-bottom: 4px solid rgb(187, 176, 176);
    z-index: 100;
}


.top-menu {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
}

.top-menu a {
    position: relative;
    font-size: 24px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.top-menu a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #fff;
    transition:all .3s;
}

.top-menu a:first-child {
    font-family: 'Poppins', sans-serif;
    margin-left: 0;
}

.top-menu a:hover::before {
    width: 100%;
}

.mainWebsite{
    border-bottom: 3px solid white;
    width: 100%;
}

.submenu {
    position: relative;
    display: inline-block;
}


.dropdown {
    position: absolute;
    display: none;
    background-color: darkcyan;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.submenu:hover .dropdown {
    display: block;
}

.dropdown li a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

.dropdown li a:hover {
    background-color: #008CBA;
    color: white;
}

.con{
    display: flex;
    justify-content: space-evenly;
    margin-left: 90px;
}

.conMargin{
    margin-right: 30px;
}

.middle{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-evenly;
    margin-top: 3%;
    margin-bottom: 5%;
}

.colMiddle{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

.table{
    order: 1;
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
}

.table h1{
    width: 100%;
    text-align: center;
    color: white;   
}

.footballTable{
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 400px;
}

.footballTable thead tr{
    background-color: darkturquoise;
    color: white;
    text-align: left;
    font-weight: bold;
}

.footballTable th,
.footballTable td{
    padding: 15px 17px;
}

.footballTable tbody tr{
    border-bottom: 1px solid #333;
}

.footballTable tbody tr:nth-of-type(even){
    background-color: blanchedalmond;
}
.footballTable tbody tr:nth-of-type(odd){
    background-color: white;
}

.aboutLeague{
    font-size: 22px;
    color: white;   
    text-align: justify;
}

.aboutLeague h1{
    text-align: center;
}

.aboutHobby{
    margin-top: 7%;
    font-size: 22px;
    color: white;   
    text-align: justify;
}

.aboutHobby h1{
    text-align: center;
}

.footer {
    background-color: #24262b;
    padding: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.footer-col {
    width: 100%;
    padding: 0 15px;
    text-align: center;
}

.footer-col2 {
    width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}

.footer-col3 {
    width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
    margin-left: 5%;
    align-items: center;
}

.footer-col2 a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.footer-col h4 {
    font-size: 18px;
    color: white;
    margin-bottom: 10px;
    align-items: center;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

#copyright {
    text-align: right;
    width: 100%; 
    padding-right: 15px; 
    color: lightgray; 
}




@media (max-width: 1400px) {
    .menu{
        position: relative;
    }
    .middle{
        display: flex;
        flex-direction: column;
    }
    .table{
        width: 100vw;
        margin-left: 0px;
        justify-content: center;
        text-align: center;
    }
    .footballTable{ 
        margin: 0 auto;
    }

    .colMiddle{
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 5vw;
        margin-bottom: 5vw;
    }
    .con{
        flex-direction: column;
    }
    .conMargin{
        margin-top: 20px;
    }
    
}  


@media (max-width: 800px) {
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }
    .footer-col3{
        grid-column: 1;
        margin-left: 0%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .aboutHobby{
        margin-top: 15%;
    }
}  


@keyframes logo {
    from{
        transform: scale(0.5);
    }
    to{
        transform: scale(1);
    }
}

#jezykLabel{
    color: white;
    margin-right: 5px;
}
